%h1 Listing Card Sorts

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Name
      %th Description
      %th Code
      %th
      %th

  %tbody
    - @card_sorts.each do |card_sort|
      %tr
        %td
          = link_to card_sort.name, card_sort
        %td= card_sort.description
        %td= card_sort.code
