%h1 Listing Authors

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th First Name
      %th Last Name
      %th
      %th

  %tbody
    - @authors.each do |author|
      %tr
        %td= author.first_name
        %td= author.last_name
        %td= link_to 'Edit', edit_author_path(author)
        %td= link_to 'Destroy', author, :method => :delete, :data => { :confirm => 'Are you sure?' }
