%h1 Listing Card Sort Results

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th Card Sort
      %th Candidates
      %th
      %th

  %tbody
    - @card_sort_results.each do |card_sort_result|
      %tr
        %td= link_to card_sort_result.card_sort.name, card_sort_result
        %td
          = card_sort_result.card_sort_candidates.join ", "
