html, body, .container {
  height: 100%;
  width: 100%;
}

#cardSortContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  .label { // override Bootstrap Defaults
    display: inherit;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    line-height: normal;
    color: inherit;
    text-align: inherit;
    white-space: inherit;
    vertical-align: inherit;
    border-radius: 0;
  }

  #cardContainer {
    min-height: 200px;
    border: 1px solid #ccc;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }

  #groupContainer {
    min-width: 300px;
    border: 1px solid #ccc;
    display: flex;
    padding: 0 1em;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
  }

  .card {
    height: 100px;
    width: 150px;
    padding: 1em;
    overflow: hidden;
    display: table;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 1em;
    background-color: #fff;

    .label {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }
  }

  .group {
    min-width: 200px;
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0 0.5em;
    margin-bottom: 1em;

    .items {
      min-height: 200px;
      padding: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;

      .card, .group {
        // left: 0 !important;
        // top: 0 !important;
      }
    }
  }
  .group > .label {
    text-align: center;
    border-bottom: 1px solid #333;
    width: 100%;
    padding: 1em;
    font-size: 1.25em;
    font-weight: bold;
  }
}