.cs-card {
  background: #ecf0f1;
}

.cs-card.cs-selected {
  background: #3498db;
  color: #fff;
}

.cs-card.cs-cloned {
  background: #c0392b;
  color: #fff;
}

.cs-group {
  margin-top: 1em;
  margin-right: 1em;
}

#cardSortContainer .cs-group {
  width: 40%;

  display: inline-block;
}

.cs-group > .cs-groupHeader {
  background: #ccc;
}

.cs-group.cs-selected > .cs-groupHeader {
  background: #e67e22;
  color: #fff;
}

.cards > .input-group.card {
  margin: 0.5em 0em;
}